footer{
    display: flex;
}

footer div{
    display: flex;
    flex-direction: row;
}

footer div ul{
    list-style: none;
    color: white;
}

footer div ul li{
    list-style: none;
    color: white;
}

footer div ul li a{
    color:white;
}