header{
    display: flex;
}

header div{
    left:100px;
}

header div ul{
    list-style: none;
    color: white;
}

header div ul li{
    list-style: none;
    color: white;
}

header div ul li a{
    color:white;
}